Package: sensor-control
Version: 1.0.0
Architecture: all
Maintainer: Ed Baker <ed@ebaker.me.uk>
Installed-Size: 15
Depends: jq, bc
Section: utils
Priority: utils
Description: WildlifeSytems sensor control
 Software for standard reading of sensors.
